html {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 62.5%;
}

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 2rem;
  background-color: #2b2b2b;
}
@media (min-width: 1280px) {
  body {
    padding: 0 5rem;
  }
}

header,
footer {
  max-width: 100%;
}

main {
  max-width: 37.5rem;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  main {
    max-width: 128rem;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.btn-primary {
  background-color: #bfaff2;
  color: #333333;
  width: 17.5rem;
  height: 5rem;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: #f8d57e;
  color: #333333;
  width: 17.5rem;
  height: 5rem;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-secondary:hover {
  opacity: 0.8;
}

.header {
  margin-bottom: 7rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.header__logo {
  font-weight: 600;
  padding: 0.5rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
}
.header__nav {
  display: none;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.header__nav-link {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  text-align: right;
}
@media (min-width: 1280px) {
  .header {
    margin-bottom: 7.7rem;
  }
  .header__nav {
    display: block;
  }
}

.hero {
  max-width: 33.5rem;
  margin: 0 auto;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.hero__title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: 0%;
  text-align: center;
}
.hero__subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.4;
}
.hero__button {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 4.2rem;
}
.hero__image {
  border-radius: 13.4px;
  background-color: #333333;
}
@media (min-width: 1280px) {
  .hero {
    max-width: 100%;
    margin: 0 0;
  }
  .hero__container {
    flex-direction: row;
    justify-content: center;
    gap: 11.5rem;
  }
  .hero__content {
    align-items: start;
    max-width: 46.5rem;
  }
  .hero__image {
    flex: 1;
    max-width: 50rem;
  }
  .hero__title {
    font-size: 6rem;
    line-height: 9rem;
    letter-spacing: 0%;
    text-align: left;
    max-width: 46.5rem;
  }
  .hero__subtitle {
    text-align: left;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0%;
    max-width: 46.5rem;
  }
}/*# sourceMappingURL=main.css.map */