// Colors
$primary-background-color: #2b2b2b;
$secondary-background-color: #333333;
$primary-text-color: #fff;
$secondary-text-color: #333333;
$primary-btn-color: #bfaff2;
$secondary-btn-color: #f8d57e;

// Fonts
$font-main: "Poppins", sans-serif;

// Breakpoints
$breakpoint-desktop: 1280px;
