@use "../utils/variables" as *;
@use "../components/button" as *;
@use "../utils/mixins" as *;

.cta {
  margin-bottom: 5rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  &__title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: 0%;
    text-align: center;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.4;
  }

  &__button {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 1rem;
  }

  &__image {
    border-radius: 1rem;
  }

  @include respond-to("desktop") {
    margin-bottom: 10rem;

    &__container {
      flex-direction: row;
      justify-content: space-between;
    }

    &__content {
      align-items: flex-start;
      text-align: left;
      gap: 3rem;
      max-width: 48rem;
    }

    &__title {
      text-align: left;
      font-size: 6rem;
      line-height: 9rem;
    }

    &__subtitle {
      text-align: left;
    }

    &__image {
      max-width: 50rem;
    }
  }
}
