@use "../utils/variables" as *;
@use "../components/button" as *;
@use "../utils/mixins" as *;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
  }

  &__logo {
    font-weight: 600;
    padding: 0.5rem;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0%;
  }

  &__nav {
    display: none;

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }

    &-link {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 0%;
      text-align: right;
    }
  }

  @include respond-to("desktop") {
    &__nav {
      display: block;
    }
  }
}
